[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bpython = "*"

[packages]
click = "*"
pydantic = "*"
sh = "*"

[requires]
python_version = "3.7"

[pipenv]
# Needed for black
allow_prereleases = true
